-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = custom_check_box_tag @selected_ratings, rating
  = submit_tag 'Refresh'

%table#movies
  %thead
    %tr
      %th= sortable  "title", 'Movie Title', "#{@sort_order}"
      %th Rating
      %th= sortable 'release_date', 'Release Date', "#{@sort_order}"
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
